################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Backend/Neura.Services/Helpers/ImageService.cs
/Backend/Neura.Api/appsettings.json
/Backend/Neura.Api/appsettings.Development.json
/Backend/Neura_Presentation.pptx
/.gitignore
